<div class="header">
    <h1>Filter Records</h1>
</div>
<!-- <h3>Select a Record Type</h3> -->
<div class="record-type-selection" fxLayout="row" fxLayoutAlign="start center">
    <label>Select a Record Type</label>
  <select (change)="selectType($event)" fxFlex>
    <option *ngFor="let type of recordTypes" [value]="type">{{ type }}</option>
  </select>
</div>
<div *ngFor="let field of getFieldsForSelectedRecordType()" class="filter-criteria">
    <label fxFlex="20">{{ field | titlecase }}</label>
    <input (input)="updateFilterCriteria(field, $event)" type="text" [placeholder]="field | titlecase" fxFlex="80">
  </div>
<hr>

<div class="records-container">
  <div class="filter-buttons">
      <button class="btn" (click)="filter()">Filter Records</button>
      <button class="btn" (click)="viewAll()">View All Records</button> 
  </div>
  <div class="parsed-record-containter">
    <div *ngIf="responseData && responseData.length > 0" style="width: 70%;">
      <div class="record-table-grid" fxLayout="row wrap" fxLayoutGap="10px grid-pad">
        <div class="record-table" *ngFor="let record of responseData" fxLayout="column">
          <table>
            <tr *ngFor="let field of getFields(record)">
              <th *ngIf="record[field] && field != '_id' && field != 'recordUser'">{{ field }}</th>
              <td *ngIf="record[field] && field != '_id' && field != 'recordUser'">{{ record[field] }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!responseData && responseData == undefined">
      No Records Found!
    </div>
  </div>
</div>
