<!-- <h1>Register</h1>
<form (ngSubmit)="register()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div>
        <label for="password">Select Role:</label>
        <input type="radio" id="user" name="myOption" value="user">
        <label for="user">User</label>
        <input type="radio" id="admin" name="myOption" value="admin">
        <label for="admin">Admin</label>
    </div>
    <button type="submit">Register</button>
    <a class="login-register" href="/login">Login</a>
</form>
<router-outlet></router-outlet> -->
<div class="register-container">
  <h1>Register</h1>
  <form class="register-form" (ngSubmit)="register()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div class="role-select">
      <label for="role">Select Role:</label>
      <input type="radio" id="user" name="role" value="user">
      <label for="user">User</label>
      <input type="radio" id="admin" name="role" value="admin">
      <label for="admin">Admin</label>
    </div>
    <button type="submit">Register</button>
    <a class="login-register" href="/login">Login</a>
  </form>
</div>