body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: box-shadow 0.2s ease-in-out; /* Add hover effect */
    margin: 0 auto;
  }
  
  .login-form:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
  }
    
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
  }
    
  button[type="submit"] {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; 
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41; 
  }
  
  
  .login-register {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #333; 
    transition: color 0.2s ease-in-out; 
  }
  
  .login-register:hover {
    color: #007bff; 
    text-decoration: underline;
  }
  
  .register-container {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
  }
  
  .register-form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.2s ease-in-out;
    margin: 0 auto;
  }
  
  .register-form:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .role-select {
    display: flex;
    justify-content: space-between;
  }