<div class="file-parser-view">
  <h1 class="header">File Parser</h1>
  <div class="parent-container">
    <div class="input-container">
      <div class="file-upload">
        <label class="upload-label">Flat File:</label>
        <input type="file" (change)="flatFileSelected($event)" />
      </div>
      <div class="file-upload">
        <label class="upload-label">Specification File:</label>
        <input type="file" (change)="specFileSelected($event)" />
      </div>
      <div class="record-type-selection">
        <label class="upload-label select-label">Select Record Type: </label>
        <select (change)="selectType($event)">
          <option *ngFor="let type of recordTypes" [value]="type">{{ type }}</option>
        </select>
      </div>
    </div>
  </div>
  
<hr>

<div class="parse-file-button">
  <button class="btn" (click)="parseFile()">Parse File</button>
</div>
<div class="parsed-record-containter">
  <div *ngIf="responseData && responseData.length > 0" style="width: 70%;">
    <div class="record-table-grid" fxLayout="row wrap" fxLayoutGap="10px grid-pad">
      <div class="record-table" *ngFor="let record of responseData" fxLayout="column">
        <table>
          <tr *ngFor="let field of getFields(record)">
            <th *ngIf="record[field] && field != '_id' && field != 'recordUser'">{{ field }}</th>
            <td *ngIf="record[field] && field != '_id' && field != 'recordUser'">{{ record[field] }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="!responseData && responseData == undefined">
    No Records Found!
  </div>
</div>
