.header {
    text-align: center; 
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 25px;
  }

  select {
    width: 20%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
  }
  
  .input-container {
    display: flex; 
    flex-direction: column;
    gap: 20px; 
    row-gap: 10px;
  }
  
  .file-upload {
    display: flex;
    align-items: center;
  }
  
  .upload-label,
  .upload-label input[type="text"] {
    flex: 1; /* Makes label and input share available space */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-right: 10px;
    /* width: 35%; */
  }

  .upload-label:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);;
  }
  .select-label {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 250px;
  }

  .record-type-selection {
    display: flex; 
    align-items: center; 
  }

.parse-file-button{
  display: flex;
  justify-content: center;
}

  .btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: 1px solid #0f62fe;
    vertical-align: top;
    padding: calc(.375rem - 3px) 60px calc(.375rem - 3px) 12px;
    background-color: #00000000;
    font-size: 14px;
    letter-spacing: 0.16px;
    min-height: 32px;
    line-height: 1.29;
    color: #0f62fe;
    font-weight: 400;
    margin-bottom: 15px;
    transition: background 70ms cubic-bezier(0,0,.38,.9),box-shadow 70ms cubic-bezier(0,0,.38,.9),border-color 70ms cubic-bezier(0,0,.38,.9),outline 70ms cubic-bezier(0,0,.38,.9);
}

  .btn:hover {
    background-color: #0353e9;
    color: #fff;
}

  .parsed-record-containter {

    display: flex;
    justify-content: center;
  }

  .record-table-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .record-table {
    border-collapse: collapse;
    margin-bottom: 1rem; 
    width: 250px; 
    display: table;
  }
  
  .record-table th,
  .record-table td {
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .record-table th {
    font-weight: bold;
  }
  
  .grid-pad {
    padding: 1rem; 
  }