<h1 class="header">File Parser</h1>
<div class="file-selection" fxLayout="row" fxLayoutGap="20px">
  <div class="file-upload" fxFlex="50">
    <label class="upload-label">Flat File:</label>
    <input type="file" (change)="flatFileSelected($event)" />
  </div>
  <div class="file-upload" fxFlex="50">
    <label class="upload-label">Specification File:</label>
    <input type="file" (change)="specFileSelected($event)" />
  </div>
</div>
<div class="record-type-selection" fxLayout="row" fxLayoutAlign="center center">
  <select (change)="selectType($event)" fxFlex>
    <option *ngFor="let type of recordTypes" [value]="type">{{ type }}</option>
  </select>
</div>
<div class="parse-file-button">
  <button (click)="parseFile()">Parse File</button>
</div>
<hr>
<div *ngIf="responseData && responseData.length > 0">
  <div class="record-table-grid" fxLayout="row wrap" fxLayoutGap="10px grid-pad">
    <div class="record-table" *ngFor="let record of responseData" fxLayout="column">
      <table>
        <tr *ngFor="let field of getFields(record)">
          <th *ngIf="record[field] && field != '_id' && field != 'recordUser'">{{ field }}</th>
          <td *ngIf="record[field] && field != '_id' && field != 'recordUser'">{{ record[field] }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- <div *ngIf="responseData && responseData.length > 0">
  <table class="records-container">
    <thead>
      <tr>
        <th *ngFor="let field of getObjectKeys(responseData[0])">{{ field }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of responseData">
        <td *ngFor="let key of getObjectKeys(record)">
          {{ record[key] }}
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<div *ngIf="!responseData && responseData == undefined">
  No data found
</div>